@use 'assets/variables/custom_variables.scss';

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Outfit';
  margin: 0;
}

/* Remove a cor de fundo do preenchimento automático do Chrome/Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}